/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
.users{
width: 40%;
margin-top: 5%;
position: relative; left: 5%;
}
.ss{
  width: 90%;
}
.search{
  position: absolute !important; top: 2% !important; right: 0% !important;
}
